extends ../layouts/default

block lang
		ul#lang
			//- li: a(href='/en/cast')
				small EN
			li: a(href='/es/cast')
				small ES
			li: a(href='/it/nos')
				small IT

block content
	.container.margin-top
		.row
			div.col-md-6
				.row
					div.col-md-4
						h6 #{__('info.cast.massimiliano.name')}
						img.img-responsive(src="/img/#{__('info.cast.massimiliano.photo')}")
					div.col-md-7
						p.margin-top #{__('info.cast.massimiliano.bio')}
			div.col-md-6
				.row
					div.col-md-4
						h6 #{__('info.cast.mavi.name')}
						img.img-responsive(src="/img/#{__('info.cast.mavi.photo')}")
					div.col-md-7
						p.margin-top #{__('info.cast.mavi.bio')}
		.row
			div.col-md-6
				.row
					div.col-md-4
						h6 #{__('info.cast.agostino.name')}
						img.img-responsive(src="/img/#{__('info.cast.agostino.photo')}")
					div.col-md-7
						p.margin-top #{__('info.cast.agostino.bio')}
			div.col-md-6
				.row
					div.col-md-4
						h6 #{__('info.cast.ana.name')}
						img.img-responsive(src="/img/#{__('info.cast.ana.photo')}")
					div.col-md-7
						p.margin-top #{__('info.cast.ana.bio')}
		.row
			div.col-md-6
				.row
					div.col-md-4
						h6 #{__('info.cast.lina.name')}
						img.img-responsive(src="/img/#{__('info.cast.lina.photo')}")
					div.col-md-7
						p.margin-top #{__('info.cast.lina.bio')}
			div.col-md-6
				.row
					div.col-md-4
						h6 #{__('info.cast.leopoldo.name')}
						img.img-responsive(src="/img/#{__('info.cast.leopoldo.photo')}")
					div.col-md-7
						p.margin-top #{__('info.cast.leopoldo.bio')}
		.row
			div.col-md-6
				.row
					div.col-md-4
						h6 #{__('info.cast.alberto.name')}
						img.img-responsive(src="/img/#{__('info.cast.alberto.photo')}")
					div.col-md-7
						p.margin-top #{__('info.cast.alberto.bio')}
			div.col-md-6
				.row
					div.col-md-4
						h6 #{__('info.cast.estefania.name')}
						img.img-responsive(src="/img/#{__('info.cast.estefania.photo')}")
					div.col-md-7
						p.margin-top #{__('info.cast.estefania.bio')}



