extends ../layouts/default

block css
  style.
    body {
      background: #f7f9f4;
    }
    .carousel {
      height: 200px;
      position: relative;
      width: 100%;
    }
    .carousel .carousel-indicators {
      opacity: 0;
    }
    .carousel .carousel-inner {
      background: #171614;
      height: 100%;
      width: 100%;
    }
    .carousel .item {
      background: no-repeat center center;
      background-size: cover;
      height: 100%;
      position: relative;
      width: 100%;
    }
    .carousel .item span {
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 25px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .city-profile img {
      margin: 0 auto;
    }
    iframe:not(.sharerFacebook) {
      min-width: 100%;
      height: 2700px;
    }
    .social-share {
      left: 15px;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

block content
  .social-share
    iframe.sharerFacebook(width="99" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  #cities-carousel.carousel.slide(data-ride="carousel")
    .carousel-inner(role="listbox")
      each city in data.cities
        .item(
          class=(data.city === city.slug ? 'active': ''),
          style=`background-image: url(${city.image.secure_url})`,
          data-city=`#${city.slug}`
        )
          span #{city.title}

    a.left.carousel-control(href="#cities-carousel" data-slide="prev" role="button")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="#cities-carousel" data-slide="next" role="button")
      span.glyphicon.glyphicon-chevron-right

  div(style="padding: 20px")

  each city in data.cities
    .city-profile(id=city.slug)
      iframe.city-frame(src="ciudatos/cities/"+city.file.filename, frameborder="0")

block js
  script(src="/vendors/iframeResizer.min.js")
  script(src="/js/margin.js")
  script.
    $('.carousel').carousel({ interval: false })
    $('iframe.city-frame').iFrameResize({ checkOrigin: false })
    $(document).ready(function () {
      var actual = $('.item.active').attr('data-city');
      var fbUrl = setFacebookSharerUrl(actual)
      var twitterUrl = setTwitterSharerUrl(actual)

      $('.sharerFacebook').attr('src', fbUrl)
      $('.twitter-share-button').attr('data-url', twitterUrl)
      $('.city-profile').hide();
      $(actual).show();

      $('#cities-carousel').on('slid.bs.carousel', function(event) {
        var city = $(event.relatedTarget).attr('data-city');
        fbUrl = setFacebookSharerUrl(city)
        twitterUrl = setTwitterSharerUrl(city)
        $('.sharerFacebook').attr('src', fbUrl)
        $('.twitter-share-button').attr('data-url', twitterUrl)
        $('.city-profile').hide();
        $(city).fadeIn(700);
      })
    })

    function setFacebookSharerUrl (str) {
      var city = str.replace('#', '')
      return `https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2F185.186.245.150:3000%2Fciudades%2F${city}&layout=button&size=large&mobile_iframe=true&appId=2860514317320975&width=99&height=28`
    }

    function setTwitterSharerUrl (str) {
      var city = str.replace('#', '')
      return `http%3A%2F%2F185.186.245.150:3000%2Fciudades%2F${city}`
    }