extends ../layouts/default


mixin datasetcard(dataset)
	div.card.col-md-3.col-sm-4
		.panel.panel-default
			.panel-heading.clearfix
				img(src=dataset.img).img-responsive
				//- .card-block
			//- .panel-body
				//- h4.panel-title #{dataset.org}
			.list-group
				each d in dataset.datasets
					.list-group-item 
						.list-group-item-heading #{d.name}
							.btn-toolbar
								each file in d.files
									a(href="#{file.url}").btn.btn-default.btn-xs #{file.format}
			//- .dataset(data-ks-editable=editable(user, { list: 'Post', id: dataset.id }))
			//- h4.card-title: a(href='/'+dataset.lang+'/blog/dataset/' + dataset.slug).datasetTitle= dataset.title
			//- div.datasetBrief.truncate120
			//- p!= dataset.content.brief

block content

	.container
		.row.home-section
			h1.text-center Tablas de datos
		.row.home-section
			.row-eq-height						
				each dataset,i in data.datasets.slice(0, 4)
					+datasetcard(dataset)
			.row-eq-height						
				each dataset,i in data.datasets.slice(4, 8)
					+datasetcard(dataset)
			.row-eq-height						
				each dataset,i in data.datasets.slice(8, 12)
					+datasetcard(dataset)
			.row-eq-height						
				each dataset,i in data.datasets.slice(12, 16)
					+datasetcard(dataset)
				//- if i % 4 == 0


