extends ../layouts/default

mixin documentcard(document)
	div.col-md-4.col-sm-4
		.card
			.card-image
				img(src=document._.image.lpad(200,150)).img-responsive
			.card-body
				p #{document.title}
				a(href=`${document.file.url}`).btn.btn-default.btn-xs PDF
		//- .panel.panel-default
		//- 	.panel-heading.clearfix
		//- 		if document.image.exists
					
		//- 	.panel-body
		//- 		h4.panel-title #{document.title}
		//- 		a(href=`${document.file.url}`).btn.btn-default.btn-xs PDF

block css
	style.
		.card {
			align-items: center;
			background: #dde5ea;
			display: flex;
			flex-wrap: wrap;
			padding: 10px;
			margin-bottom: 10px;
			width: 100%;
		}
		.card-image {
			width: 100%;
		}
		.card-image img {
			margin: 0 auto;
		}
		.card-body {
			text-align: center;
			width: 100%;
		}
		@media (min-width: 992px) {
			.card-image {
				width: 150px;
			}
			.card-body {
				padding: 10px;
				text-align: left;
				width: calc(100% - 150px);
			}
		}
block content
	.container
		.row.home-section(style="margin-top: 20px")
			each document,i in data.documents
					+documentcard(document)