extends ../layouts/default

block lang
		ul#lang
			li: a(href='/en')
				small EN
			//- li: a(href='/es')
				small ES
			li: a(href='/it')
				small IT
block content

	#myCarousel.carousel.slide(data-ride='carousel')
		// Indicators
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
			li(data-target='#myCarousel', data-slide-to='2')
			li(data-target='#myCarousel', data-slide-to='3')
			li(data-target='#myCarousel', data-slide-to='4')
			li(data-target='#myCarousel', data-slide-to='5')
			li(data-target='#myCarousel', data-slide-to='6')
		// Wrapper for slides
		.carousel-inner(role='listbox')
			.item.active
				img(src='img/slide-1.jpg', alt='Compreometido')
			.item
				img(src='img/slide-2.jpg', alt='Unconventional')
			.item
				img(src='img/slide-3.jpg', alt='Moderno')
			.item
				img(src='img/slide-4.jpg', alt='Foolish')
			.item
				img(src='img/slide-5.jpg', alt='Unconventional')
			.item
				img(src='img/slide-6.jpg', alt='Moderno')
			.item
				img(src='img/slide-7.jpg', alt='Foolish')
		// Left and right controls
		a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			span.sr-only Previous
		a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
			span.sr-only Next

	.container

		.row.home-section
			div.col-md-4
				h4 #{__('home.section1.cast.title')}
				img.img-responsive(src="/img/home-3.jpg")
				br
				//- ul
					li #{__('home.section1.cast.founder')}
					li #{__('home.section1.cast.seniorPartner')}
				table(style='margin-left: auto; margin-right: auto; width: 400px; height: 0px;', border='0', align='center')
					tbody
						tr
							td
								strong
									span(style='color: #bc0006;') Founder
							td
								a(title='MASSIMILIANO Ciudatos', href='#', target='_self') MASSIMILIANO Ciudatos
						tr
							td
								strong
									span(style='color: #bc0006;') Senior Partner
							td
								a(title='MARIA VIRGINIA VELASCO CAMPO', href='#', target='_self') MARIA VIRGINIA VELASCO CAMPO
				a.pull-right(href="/#{language}/cast") #{__('common.readMore')}
			div.col-md-4
				h4 #{__('home.section1.thoughts.title')}
				img.img-responsive(src="/img/home-2.jpg")
				br
				p #{__('home.section1.thoughts.text')}
				a.pull-right(href="#{language}/#{__('nav.about.link')}") #{__('common.readMore')}
			div.col-md-4
				h4 #{__('home.section1.ourStory.title')}
				img.img-responsive(src="/img/home-1.jpg")
				br
				p #{__('home.section1.ourStory.text')}
				a.pull-right(href="#{language}/#{__('nav.about.link')}") #{__('common.readMore')}

