extends ../layouts/default

block lang
		ul#lang
			//- li: a(href='/en/practice')
				small EN
			li: a(href='/es/practica')
				small ES
			li: a(href='/it/attivita')
				small IT

block content
	.container.margin-top
		.row
			div.col-md-4
				h5.title-center #{__('info.practice.assistance.title')}
				img.img-center.img-responsive(src="/img/#{__('info.practice.assistance.img_link')}")
				p.margin-top-20 #{__('info.practice.assistance.text')}
			div.col-md-4
				h5.title-center #{__('info.practice.internationalization.title')}
				img.img-center.img-responsive(src="/img/#{__('info.practice.internationalization.img_link')}")
				p.margin-top-20 #{__('info.practice.internationalization.text')}
			div.col-md-4
				h5.title-center #{__('info.practice.law.title')}
				img.img-center.img-responsive(src="/img/#{__('info.practice.law.img_link')}")
				p.margin-top-20 #{__('info.practice.law.text')}

		.row
			div.col-md-4
				h5.title-center #{__('info.practice.government.title')}
				img.img-center.img-responsive(src="/img/#{__('info.practice.government.img_link')}")
				p.margin-top-20 #{__('info.practice.government.text')}
			div.col-md-4
				h5.title-center #{__('info.practice.citizenship.title')}
				img.img-center.img-responsive(src="/img/#{__('info.practice.citizenship.img_link')}")
				p.margin-top-20 #{__('info.practice.citizenship.text')}
			div.col-md-4
				h5.title-center #{__('info.practice.international_law.title')}
				img.img-center.img-responsive(src="/img/#{__('info.practice.international_law.img_link')}")
				p.margin-top-20 #{__('info.practice.international_law.text')}



