include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Ciudatos'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- BOOTSWATCH
		link(href="https://bootswatch.com/paper/bootstrap.css", rel="stylesheet")

		//- BOOTCARDS 
		//- http://bootcards.org/
		link(href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css", rel="stylesheet")

		//- CUSTOM CSS
		link(href="/styles/custom/index.css", rel="stylesheet")

		//- SUMOME
		//- script(src="//load.sumome.com/",data-sumo-site-id="e11e4421aaa15d86d73e3e4aa153211ba045af6a7e759175a96d400b04e42276",async="async")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		//- HEADER
		#header
			div(role="navigation").navbar.navbar-default.navbar-color.navbar-fixed-top
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						//- a.navbar-brand(href='/') Ciudatos
						a.navbar-brand(href='/')
							img(src='/images/logo.png', height="59px", style="margin-top: -1px;padding:3px")
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-left
							//- each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
						ul.nav.navbar-nav.navbar-right
							//- li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| Dropdown 
									span.caret
								ul.dropdown-menu
									li
										a(href='#') Action
									li
										a(href='#') Another action
									li
										a(href='#') Something else here
									li.divider(role='separator')
									li
										a(href='#') Separated link
									li.divider(role='separator')
									li
										a(href='#') One more separated link
							//- li: a(href="/blog") Historias
							li: a(href="/visualizacion") Visualiza
							li: a(href="/datos") Datos
							li: a(href="/informes") Informes
							li: a(href="/#{__('nav.about.link')}") #{__('nav.about.title')}
							//- if user
								if user.canAccessKeystone
									li: a(href='/keystone') Open Keystone
								li: a(href='/keystone/signout') Sign Out
							//- else
								li: a(href='/keystone/signin') Sign In
							block lang

		//- BODY
		#body
			
			block intro
			+flash-messages(messages)
			block content


		//- FOOTER
		#footer
			.container
				//- div.col-md-6
					h5 Más información
					ul.list-unstyled
						li Conoce los datos
						li Historias
						li Tutoriales
						li Términos y condiciones
				div.col-md-6
					h5 Fundación Corona
					ul.list-unstyled
						li Calle 70 # 7-30 Bogotá, Colombia
						li Tel: (57+1) 4000031
						li Información:
						li comunicaciones@fcorona.org
						li Línea Ética:
						li seamosintegrosfundacion@fcorona.org
				p 2017	© Ciudatos

				//- a.pull-right(href="/es/page/terminos-y-condiciones") Términos de uso del sitio

		//- Google Analytics
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-70153879-1', 'auto');
			ga('send', 'pageview');

		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js')

		//- Bootcards
		script.
			bootcards.init( {
			  offCanvasBackdrop : true,
			  offCanvasHideOnMainClick : true,
			  enableTabletPortraitMode : true,
			  disableRubberBanding : true,
			  disableBreakoutSelector : 'a.no-break-out'
			});

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
			
		block js
