div.col-sm-4.hero-feature
	div.thumbnail
		//- if video.thumbnail.exists
		- var thumbnailUrl = "http://img.youtube.com/vi/"+video.youtubeId+"/hqdefault.jpg"
		a(href="#", id="playVideo#{index}")
			img(src=thumbnailUrl).img-responsive
		div(style="display:none").vex-tpls
			div(id="playVideo#{index}Tpl")
				div.videoWrapper
					iframe(src="https://www.youtube.com/embed/" + video.youtubeId,frameborder="0",allowfullscreen,width="560",height="315")
		div.caption
			h3= video.title
			p= video.description
		//- iframe(src="https://www.youtube.com/embed/" + video.youtubeId,frameborder="0",allowfullscreen,width="260" height="150")
	script.
		$('#playVideo#{index}').click(function(){vex.open({contentCSS:{"width":"80%","margin":"0 auto","margin-top":"-100px", "background":"#000","padding":"1em"},overlayCSS:{"background": "rgba(9, 17, 52, 0.73)"},showCloseButton: false,content: $(playVideo#{index}Tpl).clone()});});


